{% extends 'base.html' %}
{% load static %}
{% block title %} Create Rating {% endblock %}



{% block content %}
 <style>
    body{
        color: black;
    }

</style>


    <div class="container"><br><br>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Create rating</h3>
                        <form method="post" >
                            {% csrf_token %}
                            <div class="card-body">
                                {{ form.as_p }}
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-info">Save</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div><br><br>
{% endblock %}