{% extends 'base.html' %}
{% load static %}
{% block title %} Food Details {% endblock %}

{% block content %}


    <div class="container text-center">
    <div class="col-md-12">
        <div class="card border-dark">
            <h3 class="card-title text-center text-dark card-header">{{ recipe.title }}</h3>
            <div class="card-body text-center text-dark">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-6">
                        <img src="{% static recipe.image.url %}" style="width: inherit;height: auto">
                    </div>
                    <div class="col-md-6 col-sm-6 col-6">

                        <p><b> Ingredients</b> : {{ recipe.ingredients }}</p>
                        <p><b>Description</b> : {{ recipe.description }}</p>
                        {% if user.is_authenticated %}
                            <h4>Rating : {{ average_rating|floatformat:2 }}</h4>
                            {% if not has_rated %}
                                <form action="{% url 'create_rating' recipe.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="number" name="number" required="" id="id_number" min="0" max="5"
                                           class="border-light">

                                    <input type="submit" value="Add rating" class="border-light">
                                </form>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>



{% endblock %}
