{% extends 'base.html' %}
{% load static %}
{% block title %} Food Details {% endblock %}

{% block content %}
    <br>
    <br>
    <div class="row justify-content-center">

            <div class="col-md-6 foodie-div-settings">
            <h3>{{ recipe.title }}</h3>
                <h4>{{ average_rating }}</h4>

            <h5>{{ recipe.ingredients }}</h5>

            <p>{{ recipe.description }}</p>

            </div>
            <div class="col-md-6 foodie-div-settings">
                {% if not has_rated %}
                <form action="{% url 'create_rating' recipe.id %}" method="post">
                        {% csrf_token %}
                    <input type="number" name="number" required="" id="id_number" min="0" max="5" >

                    <input type="submit" value="Add rating">
                </form>
                {% endif %}
{#                <a href="{% url 'create_rating' recipe.id %}" class="btn btn-success">Rating Button</a>#}

            </div>

    </div>
    <br>
    <br>

{% endblock %}