{% extends 'base.html' %}
{% load static %}
{% block title %} testing {% endblock %}

{% block content %}
    <br>
    <br>
    <div class="row justify-content-center">
        {% if not recipes %}
            <p>mesaj de adaugat</p>
        {% endif %}
        {% for recipe in recipes %}
            <div class="col-md-6 foodie-div-settings">

            <h3>{{ recipe.title }}</h3>
                {% if recipe.image %}
                    <a href="{% url 'detail-view' recipe.id %}"><img src="{% static recipe.image.url %}" class="card"

                         style="width:-webkit-fill-available"></a>
                {% else %}
                  <a href="#">  <img src="#" class="card"

                         style="width:-webkit-fill-available"></a>

                {% endif %}



            </div>
        {% endfor %}

    </div>
    <br>
    <br>

{% endblock %}