{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="container row mt-5 text-center" style="margin-left: auto; margin-right: auto">
    {% for meal in meals %}

        <div class="col-lg-4 col-sm-12 mb-3">
            <div class="card" style="width:18rem">
                <img src="{{ meal.strMealThumb }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ meal.strMeal }}</h5>

                    <p class="card-content"> {{ meal.strInstructions }} </p>
                    <p class="card-content">{{ meal.strArea }}</p>

                </div>

            </div>

        </div>





    {% endfor %}
</div>
{% endblock %}