{% extends 'base.html' %}
{% block title %} Login{% endblock %}
{% block content %}
<br>
<br>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card ">
                    <div class="card-header text-dark">
                        <h3 class="text-center">Login</h3>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body text-dark">
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-outline-success border-light">Login</button>
                            <a href="{% url 'password_reset' %}" class="btn btn-outline-danger border-light">Reset Password</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<br>
<br>

{% endblock %}
