{% extends 'base.html' %}
{% block title %} Reset Password{% endblock %}



{% block content %}
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Please reset your password</h3>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-success">Reset Password</button>
                                <a class=" btn btn-outline-success " href="{% url "index" %}">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

