{% extends 'base.html' %}

{% block title %} Change Password {% endblock %}

{% block content %}


    <div class="container password-change-css">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Please change your password</h3>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-outline-success ">Change Password</button>
                            <a class=" btn btn-outline-success " href="{% url "index" %}">Cancel</a>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




{% endblock %}