<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BucatarulM.eu</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    {#    <a class="navbar-brand" href="">BucatarulM.eu</a>#}
    <img src="{% static '/blog/images/logobeta.png' %}" width="50" alt="" class="d-inline-block align-middle mr-2">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Download</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container row mt-5 text-center" style="margin-left: auto; margin-right: auto">
    {% for meal in meals %}

        <div class="col-lg-4 col-sm-12 mb-3">
            <div class="card" style="width:18rem">
                <img src="{{ meal.strMealThumb }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ meal.strMeal }}</h5>

                    <form method="get" action="singleMeal">
                        <input type="text" style="display: none" name="mealId" value="{{ meal.idMeal }}"/>
                        <input class="submit-btn" type="submit" value="More Info"/>
                    </form>

                </div>

            </div>

        </div>





    {% endfor %}
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>
</html>