{% extends 'base.html' %}

{% block title %} Contact {% endblock %}

{% block content %}

    <style>
        body {
            color: black;
        }


    </style>

    <div class="container"><br><br>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">

                        <form method="post" enctype="multipart/form-data">
                            {#                            multipart/form-data - pentru imagini de dimensiuni mai mari#}
                            {% csrf_token %}
                            <div class="card-body display_form">
                                {{ form.as_p }}
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-info">Save</button>
                                <button class="btn btn-outline-danger"><a href="{% url 'index' %}">Back</a></button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}


