{% load static %}

<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Retete</h3>
                    <ul>
                        <li><a href="#">Retete de casa</a></li>
                        <li><a href="#">Fast Food </a></li>
                        <li><a href="#">Retete Internationale</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Despre Noi</h3>
                    <ul>
                        <li><a href="#">Prolog</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Sugestii</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Bucatarul M.EU</h3>
                    <p>Nu am avut inspiratie sa scriu ceva aici , mai trebuie sa ne gandim la un slogan , sau o descriere ceva :P</p>
                </div>
                <div class="col item social"><a href="https://www.google.com"><i class="icon ion-social-facebook"></i></a><a href="#"><i
                        class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a
                        href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">R & M Team © 2022</p>
        </div>
    </footer>
</div>

