{% load static %}

<section class="menu menu--circle">
    <input type="checkbox" id="menu__active"/>
    <label for="menu__active" class="menu__active">
        <div class="menu__toggle">
            <div class="icons">
                <div class="hamburger"></div>
            </div>
        </div>
        <input type="radio" name="arrow--up" id="degree--up-0"/>
        <input type="radio" name="arrow--up" id="degree--up-1"/>
        <input type="radio" name="arrow--up" id="degree--up-2"/>
        <div class="menu__listings">
            <ul class="circle">
                <li>
                    <div class="placeholder">
                        <div class="upside">
                            <a href="#" class="button"><i class="fa-solid fa-bowl-food"></i></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="placeholder">
                        <div class="upside">
                            <a href="#" class="button"><i class="fa-solid fa-burger"></i></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="placeholder">
                        <div class="upside">
                            <a href="#">&nbsp</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="placeholder">
                        <div class="upside">
                            <a href="#" class="button"><i class="fa-solid fa-fish"></i></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="placeholder">
                        <div class="upside">
                            <a href="#" class="button"><i class="fa-solid fa-cake-candles"></i></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="placeholder">
                        <div class="upside">
                            <a href="#" class="button"><i class="fa-solid fa-martini-glass"></i></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="placeholder">
                        <div class="upside">
                            <a href="#" class="button"><i class="fa-solid fa-hotdog"></i></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="placeholder">
                        <div class="upside">
                            <a href="#" class="button"><i class="fa-solid fa-pizza-slice"></i></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="placeholder">
                        <div class="upside">
                            <a href="#" class="button"><i class="fa-solid fa-bread-slice"></i></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="placeholder">
                        <div class="upside">
                            <a href="#" class="button"><i class="fa-solid fa-bowl-rice"></i></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="menu__arrow menu__arrow--top">
            <ul>
                <li>
                    <label for="degree--up-0">
                        <div class="arrow"></div>
                    </label>
                    <label for="degree--up-1">
                        <div class="arrow"></div>
                    </label>
                    <label for="degree--up-2">
                        <div class="arrow"></div>
                    </label>
                </li>
            </ul>
        </div>
    </label>
</section>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    {#    <img src="{% static 'images/logobeta.png' %}" width="25%" alt="" class="d-inline-block align-middle mr-2">#}


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

        <ul class="navbar-nav ms-auto">

            {% if user.is_authenticated %}
                <li class="nav-item useraccess">

                <a class="nav-link" href="{% url 'logout' %}">Logout,{{ request.user.username }}</a>

                <a class="nav-link" href="{% url 'password_change' %}">Change Password</a>
            {% else %}
                <a href="{% url 'login' %}" class="nav-link">Login</a>
                <a href="{% url 'create-user' %}" class="nav-link">Sign Up</a>
            {% endif %}
            </li>
            <li class="nav-item"><a class="nav-link" href="/core">Ganduri</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>

        </ul>

    </div>
</nav>