{% extends 'base.html' %}
{% load static %}
{% block title %} To Do List {% endblock %}

{% block content %}


    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12 text-dark text-center"
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Adauga</button>
            </form>


            {% for todo in tasks %}
                <p>{{ todo.task }}</p>
                <a href="{% url 'updateItem' todo.id %}" class="btn btn-outline-primary">
                    <button>Update</button>
                </a>
                <a href="{% url 'deleteItem' todo.id %}">
                    <button>Sterge</button>
                </a>

            {% endfor %}

        </div>
    </div>
    </div>

{% endblock %}